<% include ./partials/header %>

        <div class="signup-form">
            <div class=signup-box>
                <h1>Signup Here</h1>
                <form action="/bettersignup" method= "post">
                <p>First Name</p>
                <input type="text" name="firstname" placeholder="First Name">
                <p>Last Name</p>
                <input type="text" name="lastname" placeholder="Last Name">
                <p>Username</p>
                <input type="text" name="username" placeholder="Username">
                <p>Email Address</p>
                <input type="text" name="email" placeholder="Email Address">
                <p>Password</p>
                <input type="password" name="password" placeholder="Password">
                
                <input type="submit" value="Register">
            </form>
        </div>
        </div>
<% include ./partials/footer %> 