<% include ./partials/header %>
<div class="feedbackground"></div>
<div class="usernamehead">
    <p class="usernameparagraph">(Usernames) Profile</p>
</div>


<div class="profilebox">
    <a class="thumbnail maxlim">
        <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
    </a>
    <button type="button" class="btn btn-default"><p class="stats2">Post a Dank Meme</p></button>
    <p class="username">(Username)</p>
    <p class="stats">Rank:(1289)</p>
    <p class="stats">Shares:(1289)</p>
    <p class="stats">Following:(89)</p>
    <p class="stats">Followers:(124)</p>
    
</div>

<div class="feedcontainer">
<div class="feed">
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
            <a class="postusername" href="#">(Date Posted)</a>
        </div>
        <div>
            <img class="postimg" src="https://img.washingtonpost.com/news/the-intersect/wp-content/uploads/sites/32/2015/04/obama-meme.jpg">
            <p class="posttext">This is a text caption for the image.</p>
            <p class="likecount">Like Count:(-128)</p>
            <button type="button" class="btn btn-default btnfloat" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btnfloat" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
            
            
        </div>
    </div>
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
        </div>
        <div>
            <img class="postimg" src="http://i3.kym-cdn.com/photos/images/newsfeed/001/217/729/f9a.jpg">
            <p class="posttext">This is a text caption for the image.</p>
        </div>
    </div>
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
        </div>
        <div>
            <img class="postimg" src="https://fthmb.tqn.com/bQJFlM77YqP5v4q6_qb0ZVp3mf8=/768x0/filters:no_upscale()/trump-snl-hissy-fit-580585815f9b5805c26c7023.jpg">
            <p class="posttext">This is a text caption for the image.</p>
        </div>
    </div>
    
    
</div>
</div>

<div class="otherbox">
    
</div>


<% include ./partials/footer %>