<% include ./partials/landingpartial %>







    
  

<style type="text/css">
        .boxed {
   
    width: 50%;
    margin: auto;
    vertical-align: middle;
    line-height: ;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
        
}
        .leftBoxed {
    border: none;
    width: 15%;
    margin: left;
    background: url(https://i.pinimg.com/originals/5e/43/7d/5e437de058b80c466564b1792ea6fb38.jpg);
    background-repeat:no-repeat;

   background-size:cover;
    vertical-align: middle;
    line-height: ;
    padding: 10%;
    display: inline;

        
}
        .middleBoxed {
    border: none;
    width: 20%;
    margin: center;
    background: url(https://media.giphy.com/media/3oFzm6XsCKxVRbZDLq/giphy.gif);
    background-repeat:no-repeat;
    background-size:cover;
    vertical-align: none;
    line-height: ;
    padding: 11%;
    display: inline-flex
        
}
        .rightBoxed {
    border: none;
    width: 15%;
    margin: right;
    background: url(https://i.imgur.com/WIEMDn7.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    vertical-align: middle;
    line-height: ;
    padding: 10%;
    display: inline;
        
}
        .transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}
        .center {
    margin: auto;
    padding: 10%;
    text-align: center;
}
        .left{
            align-content: flex-end;
        }
        .outerDiv{
            position: absolute;
            z-index: 1;
            width: 100%;
        }
        .font1{
            font-family: 'Nanum Brush Script', cursive;
            width: 90%;
            font-size: 168px;
        }

    </style>
    
    <div class="outerDiv">
    <h1 class="center font1">Meme Machine</h1>
    <div class="menu">
        <div class="btn">Home</div>
        <div class="btn">Top Users</div>
        <div class="btn">Top Memes</div>
        <div class="btn">Account</div>
        <div class="btn">Contact Us</div>
        
    </div>
    <h2 class="center">Welcome to Meme Machine</h2>
    <p></p>
    <div class="boxed jumbotron">
        <div class="transbox">
            <h2 class="center">The best website you've ever seen.</h2>
</div>
    </div>
    
    <p></p>
    <p></p>
    
   
    <div class="center">
        <h2 class="leftBoxed"> </h2>
        <h2 class="middleBoxed"></h2>
        <h2 class="rightBoxed"></h2>
    </div>
</div>
    
    </html>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
<% include ./partials/footer %>