<% include ./partials/header %>

 
     <div class="loginwrap">
         <div class="login-box">
         <img src="https://image.ibb.co/jaOYwS/IMG_5452.jpg" class="avatar">
             <h1>Login Here</h1>
             <form action="/login" method="POST">
                 <p>Username</p>
                 <input type="text" name="username" placeholder="Enter Username">
                 <p>Password</p>
                 <input type="password" name="password" placeholder="Enter Password">
                 <input type="submit" name="submit" value="Login">
                 <a class="forgot-password" href="#">Forgot Password</a>
             </form>
             
             
        </div>
     
<% include ./partials/footer %>