<% include ./partials/header %>
<div class="feedbackground"></div>



<div class="profilebox2">
    <a class="thumbnail maxlim">
        <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
    </a>
    <p class="usernamedsp">(Username)</p>
    
    <div class="statsbar">
    <div class="btn-group-lg btngroup" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><p class="stats2">Rank:(1289)</p></button>
      <button type="button" class="btn btn-default"><p class="stats2">Shares:(1289)</p></button>
      <button type="button" class="btn btn-default"><p class="stats2">Following:(89)</p></button>
      <button type="button" class="btn btn-default"><p class="stats2">Followers:(124)</p></button>
      <button type="button" class="btn btn-default"><p class="stats2">Follow</p></button>
      <button type="button" class="btn btn-default"><p class="stats2">Edit Profile</p></button>
    </div>
        
        
        
        
    </div>
    
</div>

<div  class="feed2">
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
            <a class="postusername" href="#">(Date Posted)</a>
        </div>
        <div>
            <img class="postimg" src="https://img.washingtonpost.com/news/the-intersect/wp-content/uploads/sites/32/2015/04/obama-meme.jpg">
            <p class="posttext">This is a text caption for the image.</p>
            <p class="likecount">Like Count:(-128)</p>
            <button type="button" class="btn btn-default btnfloat" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btnfloat" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
            
            
        </div>
    </div>
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
        </div>
        <div>
            <img class="postimg" src="http://i3.kym-cdn.com/photos/images/newsfeed/001/217/729/f9a.jpg">
            <p class="posttext">This is a text caption for the image.</p>
        </div>
    </div>
    <div class="post">
        <div>
            <a class="thumbnail maxlimpost">
                <img src="http://mhalabs.org/wp-content/uploads/upme/1451456913_brodie.jpg">
            </a>
            <a class="postusername" href="#">(Username)</a>
        </div>
        <div>
            <img class="postimg" src="https://fthmb.tqn.com/bQJFlM77YqP5v4q6_qb0ZVp3mf8=/768x0/filters:no_upscale()/trump-snl-hissy-fit-580585815f9b5805c26c7023.jpg">
            <p class="posttext">This is a text caption for the image.</p>
        </div>
    </div>
    
    
</div>




<% include ./partials/footer %>